<section id="cmsBacker">
	<div class="container">
		
		<div id="cmsHeader">
			<h2 id="cmsTitle">Add/edit site content here</h2>
		</div>
		
		
		<h6><%= link_to 'BACK TO SITE', root_path, :class => "button" %></h6>

		<%= render partial: 'heros' %>
		<%= render partial: 'abouts' %>
		<%= render partial: 'projects' %>
		<%= render partial: 'startupheader' %>
		
	</div>
</section>