<section id="about">
	
	<!-- SERVICES -->
	<div class="services_block padbot40" data-appear-top-offset="-200" data-animated="fadeInUp">
		<!-- CLEAN CODE -->
		<div class="cleancode_block">
			<!-- CONTAINER -->
			<div class="container" data-appear-top-offset="-200" data-animated="fadeInUp">
				<!-- CASTOM TAB -->
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade in active clearfix" id="tab1">
						<% begString = @abouttb1.title.split(" ").first(2).join(" ") %>
						<% endString = @abouttb1.title.split(" ").last(1).join(" ") %>
						<p class="title"><b><%= begString %></b> <%= endString %></p>
						<span><%= @abouttb1.content %></span>
					</div>
					<% @abouttbs.each do |atb| %>
					
						<% originalString = atb.title %>
						<% stringCount = originalString.split(" ").count %>

						<% begString = originalString.split(" ").first(1).join(" ") %>
						<% endString = originalString.split(" ").last(stringCount - 1).join(" ") %>
						
						<div class="tab-pane fade clearfix" id="tab<%= atb.id %>">
							<p class="title"><b><%= begString %></b> <%= endString %></p>
							<span><%= atb.content %></span>
						</div>
						
					<% end %>
				</div>
				<ul id="myTab" class="nav nav-tabs">
					<li class="active"><a class="i1" href="#tab1" data-toggle="tab" ><i></i><span><%= @abouttb1.title %></span></a></li>
					<% @abouttbs.each do |atb| %>
						<li><a class="i<%= atb.id %>" href="#tab<%= atb.id %>" data-toggle="tab" ><i></i><span><%= atb.title %></span></a></li>
					<% end %>
				</ul><!-- CASTOM TAB -->
			</div><!-- //CONTAINER -->
		</div><!-- //CLEAN CODE -->
		
		<!-- CONTAINER -->
		<div class="container">
		
			<!-- ROW -->
			<div class="row">
				<% @aboutbbs.each do |abb| %>
				
					<% begString = abb.title.split(" ").first(1).join(" ") %>
					<% endString = abb.title.split(" ").last(1).join(" ") %>
				
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
						<a class="services_item" href="javascript:void(0);" >
							<p><b><%= begString %></b> <%= endString %></p>
							<span><%= abb.content %></span>
						</a>
					</div>
				<% end %>
			</div><!-- //ROW -->
		</div><!-- //CONTAINER -->
	</div><!-- //SERVICES -->
	
</section><!-- //ABOUT -->
