<!-- HOME -->
<section id="home" class="padbot0">
		
	<!-- TOP SLIDER -->
	<div class="flexslider top_slider">
		<ul class="slides">
			<% @heros.each do |h| %>
			
				<% originalString = h.slide_title %>
				<% stringCount = originalString.split(" ").count %>
			
				<% begString = originalString.split(" ").first(1).join(" ") %>
				<% endString = originalString.split(" ").last(stringCount - 1).join(" ") %>
				
				<li class="slide<%= h.id %>">
					<div class="flex_caption1">
						<% if h.id == 1 %>
							<p class="title1 captionDelay2 FromTop"><%= begString %>&#160;</p>
							<p class="title2 captionDelay4 FromLeft"><%= endString %></p>
							<p class="title4 captionDelay7 FromBottom"><%= h.slide_content %></p>
						<% elsif h.id == 2 %>
							<p class="title1 captionDelay2 FromLeft"><%= begString %>&#160;</p>
							<p class="title2 captionDelay4 FromLeft"><%= endString %></p>
							<p class="title4 captionDelay7 FromLeft"><%= h.slide_content %></p>
						<% else %>
							<p class="title1 captionDelay2 FromBottom"><%= begString %>&#160;</p>
							<p class="title2 captionDelay4 FromBottom"><%= endString %></p>
							<p class="title4 captionDelay7 FromBottom"><%= h.slide_content %></p>
						<% end %>
					</div>
				</li>
			
			<% end %>
		</ul>
	</div>
	<div id="carousel">
		<ul class="slides">
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div><!-- //TOP SLIDER -->
</section><!-- //HOME -->

<!-- VIDEO BACKGROUND
	<a id="P2" class="player" data-property="{videoURL:'tDvBwPzJ7dY',containment:'.top_slider .slide3',autoPlay:true, mute:true, startAt:0, opacity:1}" ></a>
//VIDEO BACKGROUND -->