<section id="projects" class="padbot20">

	<!-- CONTAINER -->
	<div class="container">
		<h2><b>Featured</b> Works</h2>
	</div><!-- //CONTAINER -->
		
	<div class="projects-wrapper" data-appear-top-offset="-200" data-animated="fadeInUp">
		<!-- PROJECTS SLIDER -->
		<div class="moreProjects"><%= image_tag('moreProjects.png') %></div>
		<div class="owl-demo owl-carousel projects_slider">
			
			<!-- work1 -->
			<% @projects.each do |p| %>
			<div class="item">
				<div class="work_item">
					<div class="work_img">
						<input type="hidden" value=<%= p.id %> class="modal-object-id">
						<a class="zoom2" href="#projectShow"><%= image_tag p.image.url(:medium) %></a>
					</div>
					<div class="work_description">	
						<input type="hidden" value=<%= p.id %> class="modal-object-id">
						<a class="zoom2" href="#projectShow">
						<div class="work_descr_cont">
							<%= p.title %>
						</div>
						</a>
					</div>
				</div>
			</div><!-- //work1 -->
			<% end %>
		</div><!-- //PROJECTS SLIDER -->
	</div>
	
	<%= render 'projectShow' %>
	
</section><!-- //PROJECTS -->