<section id="team">

	<!-- CONTAINER -->
	<div class="container">
		
		<% begString = @startupheader.title.split(" ").first(2).join(" ") %>
		<% endString = @startupheader.title.split(" ").last(2).join(" ") %>
		
		<h2><b><%= begString%></b> <%= endString %></h2>
		
		<!-- TESTIMONIALS -->
		<div class="testimonials" data-appear-top-offset="-200" data-animated="fadeInUp">
				
			<!-- TESTIMONIALS SLIDER -->
			<div class=""><!--owl-demo owl-carousel testim_slider -->
				
				<!-- TESTIMONIAL1 -->
				<div class="item">
					<div class="testim_content"><%= @startupheader.strapline %></div>
					<!--<div class="testim_author">—  Anna Balashova, <b>Philosopher</b></div>-->
				</div><!-- TESTIMONIAL1 -->

			</div><!-- TESTIMONIALS SLIDER -->
		</div><!-- //TESTIMONIALS -->
		
		<!-- RECENT POSTS -->
		<div class="row recent_posts" data-appear-top-offset="-200" data-animated="fadeInUp">
			<% @startups.each do |s| %>
				<div class="col-lg-6 col-md-6 col-sm-6 padbot30 post_item_block">
					<div class="post_item">
						<div class="post_item_img">
							<img src="<%= s.image.url(:medium) %>" alt="" />
							<a class="link" href="<%= s.url %>"></a>
						</div>
						<div class="post_item_content">
							<a class="title" href="<%= s.url %>"><%= s.title %></a>
							<ul class="post_item_inf">
								<p><%= s.content %></p>
							</ul>
						</div>
					</div>
				</div>
			<% end %>
		</div><!-- RECENT POSTS -->
	</div><!-- //CONTAINER -->
</section><!-- //TEAM -->
