<% if controller.controller_name == 'home' && controller.action_name == 'index' %>

	<header>
	
		<!-- MENU BLOCK -->
		<div class="menu_block">
	
			<!-- CONTAINER -->
			<div class="container clearfix">
			
				<!-- LOGO -->
				<div class="logo pull-left">
					<%= link_to image_tag('logo.png'), root_path %>
				</div><!-- //LOGO -->
				
				<% if user_signed_in? %>
					<div class="userInfo">
						<div>{ Logged in as <strong><%= current_user.email %></strong> }</div>
						<div class="deviseLinks">
						<%= link_to 'Edit', edit_user_registration_path %> | <%= link_to 'Logout', destroy_user_session_path, method: :delete %></div>
					</div>
				<% end %>
				
				<div class="pull-right">
					<nav class="navmenu center">
						<ul>
							<li class="scroll_btn first active"><a href="#home">Home</a></li>
							<li class="scroll_btn"><a href="#about">About Us</a></li>
							<li class="scroll_btn"><a href="#projects">Our Work</a></li>
							<li class="scroll_btn"><a href="#clients">Clients</a></li>
							<li class="scroll_btn"><a href="#team">Start-Ups</a></li>
							<li class="scroll_btn last"><%= link_to 'From The Lab', blogs_path %></li>
							<% if user_signed_in? %>
								<li class="scroll_btn"><%= link_to "CMS", cms_path %></li>
							<% end %>
						</ul>
					</nav>
				</div>
			</div><!-- //MENU BLOCK -->
		</div><!-- //CONTAINER -->
	</header><!-- //HEADER -->
<!-- End Navigation -->
<% else %>
	<div class="navigation-alt">&nbsp;</div>
<% end %>